

$NavLinksQuant: 4;
$OfferBG: #222;
$TranspNavBG: none;
$OpenNavAnimMS: 0.5s;
$CloseNavAnimMS: 0.2s;
$NavHY: 10vh;

/*----Sections Backgrounds----*/

$HeroSectionBG: #eee;
$ProductSectionBG: #1c1c1c;
$featuresSectionBG: #eee;
$TestimonialsSectionBG: #61639d98;
$FaqSectionBG: #61639d98;
$FooterBG: #000;

/*--Section secondary colors--*/

$FeaturesTitleColor: #222;

/* - Hero Section - */

$HeroImageWX: 31vw;
$HeroImageHY: 31vw;

/* - Product Section - */

$ProductSectionHY: 107vh;

$ProductPrincipalHY: 80%;
$ProductPrincipalGap: 20px;
$ProductVisualsGap: 30px;

$ProductImageContHY: 80%;
$ProductImageContWX: 100%;

$ProductImageHY: 100%;
$ProductImageWX: 100%;

$ProductCarouselGeneralHY: 20%;
$ProductTypesCarHY: 100%;
$ProductTypesCarWX: 30vw;

$ProductTypeItemWX: 10vw;
$ProductTypeItemHY: 100%;

$ProductTypeSelectedBG: #09157e7a;
$ProdTypeSelectedAnimS: 0.5s;

$ProductTitleFontSize: 1.5rem;

$ProductPriceFontSize: 1.2rem;
$ProductPriceColor: #02ea28;

$ProductDescFontSize: 0.8rem;

$BuyContGap: 5vh;

$StockTxtColor: black;
$StockOptHoverBG: #1e79c88e;
$StockOptHoverTxtColor: #000000;

$ProductButtonWX: 100%;
$ProductButtonHY: 7.5vh;

$ProductButtonsGap: 0.5rem;
$ProductButtonBuyNowBG: #2c7e09;
$ProductButtonAddToCartBG: #eee;
$ProductButtonAddToCartBRD: $ProductButtonBuyNowBG;

/* - Big Features Section */

$FeaturesSectionGap: 60px;
$FeaturesContGap: 30px;

$featuresGridGap: 30px;

$featureItemGap: 10px;
$featureItemAlignY: space-evenly;

$featureItem768WX: 90%;
$featureItem768HY: 30vh;

$featureItemPadding: 5vh;
$featureItemBG: none;

$featureItemTitleBG: rgb(228, 228, 228);
$featureItemTitleColor: rgb(0,0,0);

$featureItemDescBG: none;
$featureItemDescColor: rgb(0,0,0);
/* - Testimonials Section - */

$TestimonialsContGap: 60px;

/* - FAQ Section - */
$FaqSectionHY: auto;
$FaqSectionMaxHY: 10000px;
$FaqSectionAlignY: flex-start;

$FaqContPaddingY: 60px;
$FaqContAlignHY: center;

$FaqInsHY: 70%;
$FaqInsAlignX: flex-start;

$FaqInsGap: 1rem;
$FaqInsDir: column;

$FaqTitleHY: 15vh;
$FaqTitleTxtSize: 2.1rem;

/* - Footer Section - */

$FooterContHY: 50vh;
$FooterFlexDir: column;
$FooterAlignY: flex-start;//Recuerda qu
$FooterAlignX: center;

$FooterInsideWX: 80%;
$FooterInsideHY: 70%;

$FooLinksContWidth: 70%;
$FooLinksContAlignX: center;
$FooLinksContAlignY: center;
$FooLinksContDir: column;
$FooterLinksGap: 3rem;

$FooOthLinksJustify: flex-start;

$FooterRRSSContWidth: 57%;
$FooRRSSContJustify: flex-start;
$FooterRRSSInsWidth: auto;
$FooterRRSSInsJustify: flex-start;
$FooterRRSSGap:40px;

$FooSectionTitleColor: #444;
$FooLinkColor: #161616;
$FooLinkHoverColor: #eee;
$FooRRSSColor: #333;
$FooRRSSHoverColor: #e9e9e9;


/*---- Reusable's ----*/

/* Call To Action Button */

$CTABG: rgb(0, 156, 26);
$CTAHoverBG: rgb(6, 233, 74);

/* Carrousel */
$CarouselTransitionMS: 0.5;
$DefCarouselArrHoverBG: #419fb9f4;
$DefCarouselItemBG: #000000;
$DefCarouselItemWX: 20vw;

$DefCarouselGap: 5%;
//$Testimonial768Margin: 

@media (max-width: 768px){
    $DefCarouselMaxWX: 100% !important;
}
$DefCarouselMaxWX: 50vw;
$DefCarouselHY: 40vh;

$DefCarouselArrowHY: 10vh;

/* Accordion */

$AccordionBRD: none;
$AccordionBRDStyle: solid;

$AccordionHY: auto;
$AccordionWidth: 5px;
$AccordionContentOpenTransS: 2s;

$AccordionTitleBG: #222;
$AccordionTitleHoverBG: #444;
$AccordiontTitleContTransS: 0.35s;
$AccordionTitleWX: 20%;
$AccordionTitleContAlignX: flex-start;
$AccordionTitleContAlignY: center;
$AccordionTitleContHY: 7vh;

$AccordionOpenButtonWX: 10%;

$AccordionContWX: 95%;
$AccordionContentJustify: flex-start;
$AccordionContentPaddingY: 30vh;//<<<---- El padding Y del acordion se cambia en global vars

$AccordionDefCols: 1;
$AccordionColWX: 100vw;
$AccordionItemHY: auto;
$AccordionItemContentBG: #3c3c3c;
$AccordionItemContentColor: #eee;
$AccordionRowFinalHY: 90%;
$AccordionRowFinalMaxHY: 50%;

/* Custom Select*/

$cusSelectBg: #eee;
$cusSelectedColor: #111;
$cusSelOptsContBg: #eee;
$cusSelOptsContTxtColor: #777;
$cusSelOptsContHoverBg: #7d98dd;
$cusSelScrollbarWX: 10px;
$cusSelScrollColor: #030f2b;
$cusSelListOptsMaxHY: 35vh;

/*----Custom Scrolls----*/

$ScrollModernMiniHY: 7.5px;
$ScrollModernMiniTrackBG: aqua;
$ScrollModernMiniThumbBG: black;

/*----Animations Vars Section----*/


$NavLogoFadeInS: 1.2s;
$NavLinksFadeInFactor: 420;
$NavLinksFadeInMinMS: 1300ms;

$ProductInfoFadeInS:0.9s;
