$OfferBG: #222;
$TranspNavBG: none;
$OpenNavAnimMS: 0.5s;
$CloseNavAnimMS: 0.2s;
$NavHY: 10vh;

$HeroSectionBG: #273679;
$featuresSectionBG: #09157e;
$TestimonialsSectionBG: #1b1b79;

$HeroImageWX: 31vw;
$HeroImageHY: 31vw;

$featuresGridGap: 30px;
$featureItem768WX: 90%;
$featureItem768HY: 30vh;
$featureItemPadding: 5vh;

$CarouselTransitionMS: 0.5;
$DefCarouselArrHoverBG: #419fb9f4;
$DefCarouselItemBG: #000000;
$DefCarouselItemWX: 20vw;

$DefCarouselGap: 5%;
//$Testimonial768Margin: 

@media (max-width: 768px){
    $DefCarouselMaxWX: 100% !important;
}
$DefCarouselMaxWX: 50vw;
$DefCarouselHY: 40vh;

$DefCarouselArrowHY: 10vh;

$ProductTypesCarHY: 10vh;
$ProductTypesCarWX: 30vw;

$ProductTypeItemWX: 10vw;
$ProductTypeItemHY: 100%;

$ProductTypeSelectedBG: #09157e7a;
$ProdTypeSelectedAnimS: 0.5s;

$ScrollModernMiniHY: 7.5px;
$ScrollModernMiniTrackBG: aqua;
$ScrollModernMiniThumbBG: black;
