$ProductType-Color: #eee;
$ProductType-BG: #777;
$ProductType-Radius: 20px;
$ProductType-WX: 7rem;

$ProductType-Size: 70%;
$ProductType-Weight: bold;
$ProductType-Padding: 2px 0px;

$ProductTypeAnim-Size: 80%;
$ProductTypeAnim-HY: 100%;
$ProductTypeAnim-AnimS: 0.4s;
$ProductTypeAnim-Grad-X: 100%;


$ProductTypeAnim-Grad-BG-Remove: #c52626;
$ProductTypeAnim-Grad-BG-Remove-2: #ff00003b;
$ProductTypeAnim-Grad-Color-Remove: #fff;
$ProductTypeAnim-Grad-BG-Filter: #3126c5;
$ProductTypeAnim-Grad-BG-Filter-2: #0015ff3b;
$ProductTypeAnim-Grad-Color-Filter: #fff;
