@use "../../../styles/vars" as *;

.hero-image{
    width: 100%;
}
.bg-hero{

}
.hero-cont{

}
.hero-h{
    
}
.hero-image{
    height: 100%;
    .hero-image-wh{
        width: $HeroImageWX;;
        height: $HeroImageHY;
    }
}
.hero-section{
    background-color: $HeroSectionBG;
    height: 98vh;
    //height: 60vh;
}