$Product-HY: 15rem;

$Product-HY-MD: 25rem;

$Product-HY-XL: none;

$Product-WX: 20rem;

$Product-WX-MD: 15rem;

$Product-WX-XL: none;

$ProductCard-Hover-BG: #666;
$ProductCard-Radius: 30px;
$ProductCard-padding: 10px 30px;


$ProductCard-Hover-CounterType-BG: #eee;
$ProductCard-Hover-CounterType-Color: #333;
$ProductCard-Hover-Counter-Color: #eee;



$ProductCard-AnimS: 0.6s;
$ProductCounter-AnimS: 0.6s;



$ProductTitle-Color: #222;

$ProductPrice-Color: #32d929;
$ProductPrice-Weight: 1000;

$ProductDesc-Color: #777;

$ProductType-Color: #eee;
$ProductType-BG: #777;
$ProductType-Radius: 20px;
$ProductType-WX: 7rem;

$ProductType-Size: 70%;
$ProductType-Weight: bold;
$ProductType-Padding: 2px 0px;

$ProductTypeAnim-Size: 80%;
$ProductTypeAnim-HY: 100%;
$ProductTypeAnim-AnimS: 0.4s;
$ProductTypeAnim-Grad-X: 100%;


$ProductTypeAnim-Grad-BG-Remove: #c52626;
$ProductTypeAnim-Grad-BG-Remove-2: #ff00003b;
$ProductTypeAnim-Grad-Color-Remove: #fff;
$ProductTypeAnim-Grad-BG-Filter: #3126c5;
$ProductTypeAnim-Grad-BG-Filter-2: #0015ff3b;
$ProductTypeAnim-Grad-Color-Filter: #fff;









