 @use "../../../styles/vars" as *;


 .wi-full{
    width: 100% !important;
 }

.offer-bg{
    background-color: $OfferBG;
}



.nav-transp{
    background-color: $TranspNavBG;
    .nav-transp-item{
        background-color: transparent;

    }
}

@media (max-width: 768px){
    .nav-toggler-height{
        height: 100vh;
        z-index: 1000 !important;
        position: relative;
        *{
            position: relative;
            z-index: 1000 !important;
        }

        .nav-toggler{
            height: 10%;
            width: 100%;
        }
        .nav-toggler-list{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            a{
                font-size: 40px;
            }
        }
    }
}