 @use "../../../styles/vars" as *;
@use "../../../styles/animations.scss" as *;

 .wi-full{
    width: 100% !important;
 }

.offer-bg{
    background-color: $OfferBG;
}

.nav-logo{
    animation-name: fadeIn;
    animation-duration: $NavLogoFadeInS;
}

.nav-links-list{

    @for $i from 0 through $NavLinksQuant - 1{
        .anim-#{$i + 1}{
            animation-name: fadeIn;
            animation-duration: calc($NavLinksFadeInMinMS + #{$i * $NavLinksFadeInFactor }ms);
        }
    }
}

.nav-transp{
    background-color: $TranspNavBG;
    .nav-transp-item{
        background-color: transparent;

    }
}
@keyframes abrirNav {
    0%{
        top: -90vh;
    }
    100%{
        top: $NavHY;
    }
}

@keyframes cerrarNav {
    0%{
        top: $NavHY;
    }
    100%{
        top: -90vh;
    }
}

@media (max-width: 768px){
    .nav-hy{
        height: $NavHY;
    }
    .nav-toggler-height{
        z-index: 1000 !important;
        position: relative;
        
        *{
            position: relative;
            z-index: 1000;
        }

        .nav-toggler{
            height: $NavHY;
            width: 100%;
            z-index: 1000;
        }
        
        .nav-toggler-list{

            height: 90vh;
            width: 100%;
            position: fixed;
            z-index: 900;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            a{
                font-size: 40px;
            }
        }
        .closed-nav{
            animation: cerrarNav $CloseNavAnimMS forwards;
        }
        .open-nav{
            animation: abrirNav $OpenNavAnimMS forwards;
            z-index: 900;
        }
    }
}