

$FilterButtonCont-Padding: 0;

$FilterButton-Padding:10px;
$FilterButton-Radius: 15px;
$FilterButton-AnimS: 0.3s;

$FilterButtonOpen-Radius: 15px 15px 0 0;



$ButtonFilterColor: #eee;
$FilterButton-BG: #222;

$FilterButton-SVG-Stroke: #eee;