
$FilterMenu-BG: #222;
$FilterMenu-WX: 40%;
$FilterMenu-Padding: 10px 0;

$FilterMenuItem-AnimS: 0.8s;
$FilterMenuItem-Hover-BG: #444;
$FilterMenuItem-Hover-Color: #eee;
$FilterMenuItem-Radius: 0 0 15px 15px;
$FilterMenuItem-Padding: 15px 10px;
$FilterMenuItem-Gap: 7px;



$MultiSelectFilter-HY: max-content;
$MultiSelectFilter-Radius: 100%;
$MultiSelectFilterItem-WX: 100%;
$MultiSelectFilterItem-Color: #eee;
$MultiSelectFilter-Gap: 10px;


$MultiSelectFilterItemOutline-BRD: 3px solid #fff;


