$FaqTitleColor: #fff;
$FaqSectionBG: #1a1a1a;

$FaqSectionHY: auto;
$FaqSectionMaxHY: 10000px;
$FaqSectionAlignY: flex-start;

$FaqContPaddingY: 60px;
$FaqContAlignHY: center;

$FaqInsHY: 70%;
$FaqInsAlignX: flex-start;

$FaqInsGap: 1rem;
$FaqInsDir: column;

$FaqTitleHY: 15vh;
$FaqTitleTxtSize: 2.1rem;
$FaqTitleTxtSize768: 1.7rem;

$FaqOpenButtHoverBG: #e9f2fc;
$FaqOpenButtHoverColor: #222;


$FaqAccordionGap: 20px;