.outs-prods{
    .outs-prods-list{
        gap: 15vw;
        overflow-y: hidden ;
        overflow-x: auto;
        .out-prod-item{
            height: 100vh;
            flex-direction: column;

            .floating-image{
                transition: all 0.3;
                animation: float 2s ease-in-out;
                transform: rotate(-30deg) translate(-10vw, -60vh);
                width: 300%;
                height: 150vh;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            @for $i from 1 through 10 {
                .floating-image-#{$i} {
                    animation-delay: #{$i * 0.5}s;
                }
            }

            .floating-image.loaded{
                transform: rotate(-30deg) translate(-10vw, 10vh);
            }
            @keyframes float {
                0% {
                    transform: rotate(-30deg) translate(-10vw, -30vh);
                }
                100% {
                    transform: rotate(-30deg) translate(-10vw, 10vh);
                }
            }

        }
    }
    
}