
$CartBG: #fff;

$CartTitleColor: #111;
$CartTitleTxtSize: 40px;
$CartYPadding: 30px;

$CartGridWX: 80%;

$CartItemRowColor: #222;
$ItemRowPrincipalWX: 40%;
$ItemRowPriceWX: 20%;
$ItemRowQuantityWX: 30%;
$ItemRowTotalWX: 10%;
$ItemRowGridOrder: $ItemRowPrincipalWX $ItemRowPriceWX $ItemRowQuantityWX;
$ItemRowQuantityPadding: 10px 0;

$QuantityButtsPadding: 10px 10px;
$QuantityPrincipalPadding: 10px 20px;
$QuantityHandBRDRadius: 10px;
$QuantityHandBRDWX: 5px;
$QuantityHandBRDColor: #111;
$QuantityHandBRDType: solid;

$CartOptsWX: 80%;

$ClearButtonColor: #c92020;
$ClearButtonTxtSize: 0.85rem;