// Layout variables
$gap-size: 1vw;
$item-height: 100%;
$image-width: 20vw;
$image-height: 100%;
$static-bg-width: 100%;

// Transform variables
$rotation: 0deg;
$translate-x: 0%;
$translate-y-start: -25%;
$translate-y-end: 0%;
$translate-y-hover: -25%;

$rotation-mobile: 0deg;
$translate-x-mobile: 0%;
$translate-y-start-mobile: 0%;
$translate-y-end-mobile: 0%;
$translate-y-hover-mobile: $translate-y-hover;//Negative to set the hover effect to the top


// Animation variables
$animation-duration: 2s;
$animation-easing: ease-in-out;
$transition-duration: 0.3s;
$animation-delay-base: 0.23s;
$max-items: 10;

// Z-index variables
$item-z-index: 1000;
$image-z-index: 500;
$static-bg-z-index: 49;
 
// Title variables
$title-font-size: 2rem;
$title-color: #eee;
$title-bg-color: #111;

// Button section background color
$button-section-bg: rgba(255, 255, 255, 0.5);

// Background color
$static-bg-color: $button-section-bg;

// Inside content variables
$inside-content-height: -$translate-y-hover;
$inside-content-width: 100%;
$inside-content-translate-x: 0%;
$inside-content-translate-y: 0%;
$inside-content-rotate: 0deg;

$inside-content-translate-x-mobile: 0%;
$inside-content-translate-y-mobile: 0%;
$inside-content-rotate-mobile: 0deg;