// Layout variables
$gap-size: 15vw;
$item-height: 100%;
$image-width: 100%;
$image-height: 100%;
$static-bg-width: 100%;

// Transform variables
$rotation: -30deg;
$translate-x: 300%;
$translate-y-start: -5%;
$translate-y-end: 5%;
$translate-y-hover: -30%;

$rotation-mobile: 0deg;
$translate-x-mobile: 0%;
$translate-y-start-mobile: 0%;
$translate-y-end-mobile: 0%;
$translate-y-hover-mobile: -50%;//Negative to set the hover effect to the top
$inside-content-translate-x-mobile: 0%;
$inside-content-translate-y-mobile: 100%;
$inside-content-rotate-mobile: 0deg;

// Animation variables
$animation-duration: 2s;
$animation-easing: ease-in-out;
$transition-duration: 0.3s;
$animation-delay-base: 0.23s;
$max-items: 10;

// Z-index variables
$item-z-index: 100;
$image-z-index: 50;
$static-bg-z-index: 49;
 
// Title variables
$title-font-size: 2rem;
$title-color: #eee;
$title-bg-color: #111;

// Button section background color
$button-section-bg: rgba(255, 255, 255, 0.5);

// Background color
$static-bg-color: $button-section-bg;

// Inside content variables
$inside-content-height: 36.5%;
$inside-content-width: 58%;
$inside-content-translate-x: -20%;
$inside-content-translate-y: 100%;
$inside-content-rotate: 30deg;