$PaymentJustify: center;

$PaymentSectionBG: #555;
$PaymentSectionPadd: 25px;
$PaymentSectionRadius: 5px;
$PaymentInnerSectionsPadd: 25px 0;
$PaymentInnerSectionsGap: 10px;

$PaymentTopBRD: 5px #222 solid;

$CardInfoGenGap: 30px;
$CardSubInfoGap: 70px;

