/*Defaults vars applied in every custom select in page*/

$cusSelectBg: #eee;
$cusSelectedColor: #111;
$CusSelect-Color: #111;
$cusSelOptsContBg: #eee;
$cusSelOptsContTxtColor: #777;
$cusSelOptsContHoverBg: #7d98dd;
$cusSelScrollbarWX: 10px;
$cusSelScrollColor: #030f2b;
$cusSelListOptsMaxHY: 35vh;

$CusSelectOpts-AnimS: 0.9s;

$CusSelect-Blured-BG: #eeeeee03;