$PrincipalColor: #0c5ed1;

$ContactSectionTitle-Size: 4rem;
$ContactSection-Padding: 90px 0;
$ContactSection-Gap: 60px;


$ComplexitySel-WX: auto;

$ComplexitySel-Radius: 10px;
$ComplexitySel-Padding: 10px 100px;
$ComplexitySel-BRD: 3px solid $PrincipalColor;
$ComplexitySel-Hover-BG:  #1a3d9f;
$ComplexitySel-Selected-BG:  #134eee;
$ComplexitySel-AnimS: 0.59s;

$ContactFormCont-Gap: 40px;
$ContactFormCont-Padding: 0 200px;


$ContactForm-Radius: 30px;
$ContactForm-BRD: 5px solid $PrincipalColor;
$ContactForm-Padding: 40px 200px;
$ContactForm-Padding-768: 40px 30px;
$ContactForm-Padding-1400: 40px 30px;
$ContactForm-WX: 90%;
$ContactForm-Gap: 40px;
$Subject-Gap: 30px;

$Label-Size: 2rem;
$Label-Color: #bbb;

$CusSelect-Radius: 10px;
$CusSelectOpts-AnimS: 0.5s;
$CusSelect-Color: #e1e1e1;

$Input-Padding: 5px 15px;
$Input-BRD: 4px solid $PrincipalColor;
$Input-BG: transparent;
$Input-Hover-BRD: 4px solid $PrincipalColor;
$Input-Hover-BG: $PrincipalColor;
$Input-Focus-BRD: 4px solid #000;
$Input-Focus-BG: $PrincipalColor;
$Input-Focus-Color: #fff;
$Input-Radius: 30px;

$SubmitCont-Padding: 10px 100px;

$Submit-WX: 50%;
$Submit-BG: $PrincipalColor;
$Submit-Padding: 10px 30px;
$Submit-Color: #fff;
$Submit-Hover-Color: #222;



$SubmitAnim-BG: #3072cf;
