
@use "./devPanel.vars.scss" as *;

.dev-panel-options, .dev-panel-actions {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    .dev-panel-button {
        margin: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: black;
        cursor: pointer;
    }
    .dev-panel-select {
        margin: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #ccc;
        color: black;
        cursor: pointer;
    }
    
}

.dev-panel-actions{
    width: $devPanelWidth;
    max-height: 80vh;
    overflow: auto;
}

@media (max-width: 768px) {
    .dev-panel-actions{
        width: $devPanelWidthMobile;
    }
}

.dev-panel-add-product{
    display: flex;
    //max-height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    .dev-on-adding{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #212121;
        overflow: scroll;
    }
    input{
        width: 60%;
        margin: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #ccc;
        color: black;
        cursor: pointer;
    }
    textarea{
        width: 80%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #ccc;
        color: black;
        cursor: pointer;
    }
   
    .dev-panel-add-product-buttons{
        
        margin: 1rem 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        button{
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            &.cancel-button{
                background-color: #f44336;
            }
            
            color: black;
            cursor: pointer;
        }
    }
    

}
.add-product-logo, .add-product-extra-images, .update-product-container{
    .preview-add-product-img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }
    input{
        display: none;
    }
    .custom-input-file-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 5px;
        font-size: 3.75rem;
        background-color: #0b076583;
        color: #ccc;
        cursor: pointer;
    }
    
}
.on-hover-back{
    background-color: #000000;
    opacity: 0.7;
}
.dev-panel-actions-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

}

.dev-panel-products {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    > li, .dev-panel-product{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-bottom: 1px solid #ccc;
        width: 100%;

        > img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        > h2 {
            font-size: 1rem;
            margin: 0.25rem 0;
        }

        > p {
            font-size: 0.75rem;
            margin: 0.25rem 0;
        }
    }
}

.item-product{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.update-product-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    textarea{
        color: black;
    }
}
.dev-panel-update-product{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    input{
        border: none;
        border-radius: 5px;
        background-color: #ccc;
        color: black;
        cursor: pointer;
    }
    
}

.update-save-button{
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: black;
        cursor: pointer;
    }