/* - Hero Section - */

$HeroSectionHY: 120vh;

$HeroContHY: 60%;
$TextualHeroWX: 90%;

$HeroCTASectionGap: 1.2rem;
$HeroCTASectionBorder: 3px solid #bbb;

$HeroImageContHY: 100%;
$HeroImageFadeInS: 1.5s;

$HeroImageWX: 31vw;
$HeroImageHY: 31vw;
$HeroImageRadialGradPos: 55%;

$HeroPadding768: 10vh 0 0 0;

$HeroTextualAlign: start;
$HeroTextualPadding: 25vh 0 0 0;

$HeroTitleColor: #fff;
$HeroTitleBG: none;
$HeroTitleRadius: 10px;

$HeroSubTitleColor: #999;
$HeroSubTitleBG: none;
$HeroSubTitleRadius: 10px;

$HeroCTABeforeHoverBG: #1470fb;
