// Colores
$mtz-button-bg: rgb(37, 35, 68);
$mtz-button-text: rgb(250, 250, 250);
$mtz-button-shadow: rgba(37, 35, 68, 0.4);
$mtz-button-hover-gradient: rgba(21, 21, 21, 0.4);

// Dimensiones
$mtz-button-padding: 1rem 2.5rem;
$mtz-button-border-radius: 50px;
$mtz-button-font-size: 1.2rem;

// Efectos
$mtz-button-transition: all 0.3s ease;
$mtz-button-hover-transform: translateY(-2px);
$mtz-button-hover-shadow: 0 5px 15px;
$mtz-button-gradient-transition: all 0.5s;

// Z-index
$mtz-button-gradient-z-index: 15;

// Tiempo de animaciones
$hero-bg-image-onhover-transition: 1500ms;
$hero-overlay-transition: 0.7s;

// Elemento decorativo del hero
$hero-overlay-translate-x: -20%;
$hero-overlay-translate-y: -30vh;

$hero-overlay-translate-x-br: -20%;
$hero-overlay-translate-y-br: -50%;


$hero-overlay-rotate: 30deg;

$hero-overlay-rotate-br: 25deg;

$hero-overlay-transform-origin: center center;
$hero-overlay-width: 200vw;
$hero-overlay-height: 60vh;
$hero-overlay-blur: 3px;
$hero-overlay-scale-hover: 1.07;