@use "./contactVars.scss" as *;

.contact-form-container{
    gap: $ContactFormCont-Gap;
    padding: $ContactFormCont-Padding;
}

.complexity-select{
    border-radius: $ComplexitySel-Radius;
    border: $ComplexitySel-BRD;
    width: $ComplexitySel-WX;
    .complexity-button{
        transition: all $ComplexitySel-AnimS;
        padding: $ComplexitySel-Padding;
        &:hover {
            background-color: $ComplexitySel-Hover-BG
        }
    }
    .selected{
        background-color: $ComplexitySel-Selected-BG;
        &:hover{
            background-color: $ComplexitySel-Selected-BG;
        }
    }

}

.contact-form-brd{
    border-radius: $ContactForm-Radius;
    
    border: $ContactForm-BRD;
}

.contact-form{
    padding: $ContactForm-Padding;
    width: $ContactForm-WX;
    gap: $ContactForm-Gap;
    label{
        font-size: $Label-Size;
        color: $Label-Color;
    }
    .subject-gap{
        gap: $Subject-Gap;
    }
    input, textarea, .cus-select, .cus-select-options{
        padding: $Input-Padding;
        border-radius: $Input-Radius;
        border: $Input-BRD;
        background-color: $Input-BG;
        transition: all 0.5s;
        &:hover{
            background-color: $Input-Hover-BG;
            border: $Input-Hover-BRD;
        }
        &:focus{
            outline: none;
           
            
            background-color: $Input-Focus-BG;
            filter: brightness(1.2);
            border: $Input-Focus-BRD;
            color: $Input-Focus-Color;
        }
    
    }
    .cus-select-open-natural{
        .open-radius{
            transition: all calc($CusSelectOpts-AnimS - 0.25s);
           
        }
        .closed-radius{
             
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .cus-select-selected{
            color: #eee;
        }
        .cus-select-opts-visualizer{
            animation-duration: $CusSelectOpts-AnimS;
        }
        
        .cus-select-options{
            background: #eeeeee03;
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            backdrop-filter: blur(10px);
            padding: 0;
            &:hover{
                background-color: transparent;
            }
            .cus-select-option{
                background: transparent;
                transition: all 0.3s;
                color: $CusSelect-Color;
                &:hover{
                    background-color: #eeeeee07;
                }
            }
        }
       
        
    }
}

.submit-contact-cont{
    padding: $SubmitCont-Padding;
}

.submit-contact{
    width: $Submit-WX;
    background-color: $Submit-BG;
    border-radius: $ContactForm-Radius;
    padding: $Submit-Padding;
    color: $Submit-Color;
    transition: all 0.6s;
    .anim-box{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background-color: $SubmitAnim-BG;
        transition: all 0.6s;
        top: 0;
        left: -100%;
    }
    .text-box{
        position: relative;
        z-index: 100;
    }
    &:hover{
        color: $Submit-Hover-Color;
        .anim-box{
            left: 0;
        }
    }
}


@media (max-width: 1400px){
    .contact-form-container{
        padding: 100px;
    }
    .contact-form{
        width: 70%;
        padding: $ContactForm-Padding-1400;
    }
    .submit-contact-cont{
        padding: 0;
        .submit-contact{
            width: 100%;
        }
    }
}
@media (max-width: 768px){
    .contact-form-container{
        padding: 0;
    }
    .contact-form{
        width: 100%;
        padding: $ContactForm-Padding-768;
    }
}