$CartTotalsContWX: 60%;
$CartTotalsContGap: 30px;
$CartTOtalsContJustify: end;

$CartTotalsWX: 30%;
$CartTotalsBG: #eee;
$CartTotalsJustify: center;
$CartTotalsAlign: center;
$CartTotalsValuesContWX: 80%;

$CartTotalsPaddTop: 20px;
$CartTotalsPaddBot: 10px;

$CartPriceRowWX: 100%;
$CartPriceRowJustify: space-between;

$CartTotalsSubColor: #444;
$CartTotalsDeliveryColor: #444;
$CartTotalsTaxColor: #444;
$CartTotalsNetColor: #000;

$CartTotalsSubTxtSize: 0.8rem;
$CartTotalsDeliveryTxtSize: 0.8rem;
$CartTotalsTaxTxtSize: 0.8rem;
$CartTotalsNetTxtSize: 1.2rem;

$CartTotalsSubSelfX: end;
$CartTotalsDeliverySelfX: end;
$CartTotalsTaxSelfX: end;
$CartTotalsNetSelfX: start;

